span b{
    font-size:20px ;
    font-family:'Times New Roman', Times, serif ;                
}

a:link{
    color: blue;
}

a:visited{
    color: aqua;
}
    a:hover{
        color: brown;
    }